<div class="collection-slider-row is-showing-collections">
  {% unless settings.en_full_width_homepage %}<div class="container">{% endunless %}
  <div class="collection-slider">
    <h1 class="hometitle h4-style align-center has-paging"><span>{{ 'home_page.collections.title' | t }}</span></h1>
    <div class="collection-listing">
      <div class="product-list">
        {% for i in (1..14) %}
        {% capture collection_setting_index %}home_colls_{{ i }}{% endcapture %}
        {% if settings[collection_setting_index] != blank %}
        {% assign collection = collections[settings[collection_setting_index]] %}
        {% unless collection == empty %}
        {% include 'collection-block' %}
        {% endunless %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div><!-- /.collection-listing -->
  {% unless settings.en_full_width_homepage %}</div>{% endunless %}
</div>