{% assign product_limit = 20 %}

{% capture index_collection %}home_coll_3_coll{% endcapture %}
{% capture index_collection_use_slideshow %}home_coll_3_use_slideshow{% endcapture %}

{% assign coll_handle = settings[index_collection] %}
{% assign product_collection = collections[coll_handle] %}

{% if coll_handle != blank %}
<!-- Collection slider -->
<div class="{% if settings[index_collection_use_slideshow] %}collection-slider-row{% else %}padded-row{% endif %} collection-slider-3">
  {% unless settings.en_full_width_homepage %}<div class="container">{% endunless %}
  <div class="{% if settings[index_collection_use_slideshow] %}collection-slider{% endif %}">
    <h1 class="hometitle h4-style align-center"><a href="{{ product_collection.url }}"><span>{{ product_collection.title }}</span></a></h1>
    <div class="view-all align-center"><a href="{{ product_collection.url }}">{{ 'home_page.products.see_all' | t }}</a></div>

    <div class="collection-listing">
      {% include 'product-list' with product_collection %}
    </div>
  </div><!-- /.collection_slider -->
  {% unless settings.en_full_width_homepage %}</div>{% endunless %}
  {% if settings.prod_thumb_detail_show and settings[index_collection_use_slideshow] %}
  <div class="collection-listing slider-collection-listing">
    <div class="product-detail"></div>
  </div>
  {% endif %}
</div>
{% endif %}
