{% unless template contains 'index' %}
    {% assign product_collection = product-list %}
{% endunless %}

{% if product_limit %}
{% assign for_limit = product_limit %}
{% else %}
{% assign for_limit = 50 %}
{% endif %}

<div class="product-list">
  {% for product in product-list.products limit: for_limit %}
  	{% include 'product-block' with product %}
  {% endfor %}
  {% unless template contains 'index' %}
  	{% include 'product-list-placeholders' %}
  {% endunless %}
</div>