.why-choose-us__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.why-choose-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why-choose-us__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .why-choose-us__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.why-choose-us__heading {
  padding: 50px 0;
}
